body {
    background-color: beige;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.content {
   
}

h2 {
    font-size: 30px;
    text-transform: capitalize;
    padding-top: 10px;
    margin-bottom: 0;
}

p {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-top: 5px;
}

.tab-wrapper {
   width: 800px;
   margin: 0 auto;
   text-align: center;
   margin-top: 10%;
}